section {
    display:grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
    grid-gap:5px;
}

section div {
    border:1px solid lightgray;
    border-radius:5px;
    font-size:40px;
    padding:2px;
    text-align:center;
}
.jatekter {
    background-color: #2196F3;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
  
.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
  }